<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script src="../js/app.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="main-content">{{>header}}
        <img src="../images/CFNF-Staff-3_1422_400x500.jpg" alt="profile">
        <p>Assistant of {{name}}</p>
    </div>

    {{>footer}}
</body>

</html>